.input-text {
  color: var(--white);
  font-weight: 600;
}

.input-field {
  border: 0px solid var(--gray-500);
  border-radius: 4px;
}

.button {
  display: flex;
  padding: 10px 18px;
  justify-content: center;
  align-items: center;
  grid-column-gap: 0.5rem;

  border-radius: 0.5rem;

  background-color: var(--primary);

  transition: all 300ms cubic-bezier(.165, .84, .44, 1);

  color: hsla(219.99999999999997, 0.00%, 100.00%, 1.00);
  font-size: 16px;
  line-height: 1.5;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
}

.button:hover {
  border: 0px solid var(--secondary);
  background-color: var(--secondary);
  box-shadow: none;
  color: var(--white);
}

.button:focus {
  background-color: var(--primary-4b5c02bd);
  box-shadow: 0 1px 2px 0 hsla(219.99999999999997, 42.86%, 10.98%, 0.05), 0 0 0 4px hsla(73.7007874015748, 75.15%, 66.86%, 0.50);
}

@media screen and (max-width: 767px) {
  .button {
    font-size: 1rem;
  }
}

@media screen and (max-width: 767px) {
  .button:hover {
    border-color: #7f56d9;
    background-color: #7f56d9;
  }
}