.navbar {
  background-color: hsla(0, 0.00%, 0.00%, 1.00);
}

.navbar-component {
  display: flex;
  min-height: 80px;
  padding-right: 2rem;
  padding-left: 2rem;
  align-items: center;

  background-color: transparent;
}

@media screen and (max-width: 767px) {
  .navbar-component {
    min-height: 4.5rem;
    padding-right: 1rem;
    padding-left: 1rem;
  }
}

.navbar-container {
  display: flex;
  width: 96%;
  height: 80px;
  max-width: 1280px;
  margin-right: auto;
  margin-left: auto;
  justify-content: space-between;
  align-items: center;
}

.navbar-menu-button {
  padding: 0rem;
}

@media screen and (max-width: 991px) {
  .navbar-menu-button:global(.w--open) {
    background-color: transparent;
  }
}