.property-card {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  grid-column-gap: 10px;
  grid-row-gap: 10px;

  border-radius: 15px;

  background-color: hsla(0, 100.00%, 99.33%, 1.00);

  box-shadow: 0 2px 9px 0 hsla(0, 0.00%, 62.67%, 0.20);

  transition: transform 350ms linear;

  color: hsla(0, 21.95%, 38.27%, 1.00);
}

@media screen and (max-width: 767px) {
  .property-card:hover {
    transform: none;
  }
}

@media screen and (max-width: 479px) {
  .property-card:hover {
    transform: none;
  }
}

.property-image {
  aspect-ratio: 16/9;
  border-radius: 15px 15px 0px 0px;
  object-fit: cover;
}

.div-block {
  display: flex;
  padding-right: 10px;
  padding-left: 10px;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: nowrap;
  order: 0;
  grid-column-gap: 4px;
  grid-row-gap: 4px;
}

.property-location {
  margin-bottom: 0px;
  color: var(--gray-500);
  font-size: 14px;
}

.heading {
  margin-top: 10px;
}

.heading.property-heading {
  max-width: 85%;
  margin-top: 0px;
  margin-bottom: 0px;

  font-family: Montserrat, sans-serif;
  color: hsla(0, 0.00%, 4.00%, 1.00);
  font-weight: 500;
}

.div-block-2 {
  display: flex;
  margin-bottom: 10px;
  justify-content: space-between;
  align-items: center;
}

.property-price {
  color: var(--gray-500);
  font-size: 14px;
}

.read-more-button {
  border-radius: 20px;
  background-color: hsla(203, 82.57%, 57.25%, 1.00);
  font-family: Inter;
  font-size: 14px;
  cursor: pointer;
}

.read-more-button:hover {
  background-color: hsla(203, 54.64%, 37.94%, 1.00);
  color: var(--white);
}

#w-node-_81fbccf7-6968-febe-d02c-7a4e845b0c98-845b0c98 {
}