.property-card {
  position: relative;

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  grid-column-gap: 10px;
  grid-row-gap: 10px;

  border-radius: 15px;

  background-color: hsla(0, 100.00%, 99.33%, 1.00);

  box-shadow: 0 2px 9px 0 hsla(0, 0.00%, 62.67%, 0.20);

  transition: transform 350ms linear;

  color: hsla(0, 21.95%, 38.27%, 1.00);
}

@media screen and (max-width: 767px) {
  .property-card:hover {
    transform: none;
  }
}

@media screen and (max-width: 479px) {
  .property-card:hover {
    transform: none;
  }
}

.div-block-7 {
  position: relative;
}

.div-block-4 {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  z-index: 1;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.property-status {
  position: static;
  margin: 10px;
  padding: 5px 10px;
  border-radius: 20px;
  background-color: var(--secondary);
}

.text-medium {
  color: var(--white);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: normal;
}

.property-link {
  position: relative;
}

.property-image {
  box-sizing: border-box;
  aspect-ratio: 16/9;
  border-radius: 15px 15px 0px 0px;
  object-fit: cover;
}

.property-info {
  display: flex;
  margin-top: 10px;
  padding-right: 10px;
  padding-left: 10px;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: nowrap;
  order: 0;
  grid-column-gap: 4px;
  grid-row-gap: 4px;
}

.property-location {
  margin-bottom: 0px;
  color: var(--gray-500);
  font-size: 14px;
}

.heading {
  margin-top: 10px;
}

.heading.property-heading {
  max-width: 85%;
  margin-top: 0px;
  margin-bottom: 0px;

  font-family: Montserrat, sans-serif;
  color: hsla(0, 0.00%, 4.00%, 1.00);
  font-weight: 500;
}

.div-block-2 {
  position: static;
  bottom: 0px;

  display: flex;
  margin-bottom: 10px;
  justify-content: space-between;
  align-items: center;
}

.property-price {
  color: var(--gray-500);
  font-size: 14px;
}

#w-node-_81fbccf7-6968-febe-d02c-7a4e845b0c98-845b0c98 {
}