---
import Layout from "../layouts/Layout.astro";
import { Property } from "../../devlink/Property";
import type { PropertyEntry } from "../types/property";
import { getProperties, formatPrice } from "../utils/properties";

// Fetch properties data.
const runtimeEnv = Astro.locals?.runtime?.env;
const propertiesData = await getProperties(runtimeEnv);
---

<Layout>
  <div class="mx-auto py-16 min-h-screen px-10 md:px-40 md:py-16">
    <div class="flex flex-col items-center justify-center gap-6 my-10">
      <h1 class="text-center">Woningaanbod in Opsterland</h1>
      <p class="text-center text-sm text-gray-500">
        Ontdek de beste woningen in gemeente Opsterland
      </p>
    </div>

    <div class="grid grid-cols-1 gap-6 md:gap-8 xl:grid-cols-2 2xl:grid-cols-3">
      {
        propertiesData.map((property: PropertyEntry) => {
          
          return (
            <Property
              statusText={property.status}
              imageImage={property.main_image_url || ""}
              locationTitle={property.location.plaats}
              addressTitle={property.name}
              priceText={formatPrice(property.price)}
              />
            );
          })
        }
      </div>
    </div>
  </Layout>
