---
import Layout from "../layouts/Layout.astro";
import propertiesData from "../data/properties.json";
import { Property } from "../../devlink/Property";
---

<Layout>
  <div class="mx-auto py-16 min-h-screen px-10 md:py-16">
    <div class="flex flex-col items-center justify-center gap-6 my-10">
      <h1 class="text-center text-4xl font-bold">Woningaanbod in Opsterland</h1>
      <p class="text-center text-sm text-gray-500">Ontdek de beste woningen in gemeente Opsterland</p>
    </div>

    <div class="grid grid-cols-1 gap-6 md:gap-8 md:grid-cols-2 lg:grid-cols-3">
      {
        propertiesData.map((property) => (
            <Property
              imageImage={property.image}
              locationTitle={property.location}
              addressTitle={property.title}
              priceText={property.price.toLocaleString("nl-NL", {
                style: "currency",
                currency: "EUR",
              })}
            />
        ))
      }
    </div>
  </div>
</Layout>
