---
import propertiesData from "../data/properties.json";
import { Property } from "../../devlink/Property";
---

<div>
  <section>
    {
      propertiesData.map((property) => (
        <Property 
          imageImage={property.image}
          locationTitle={property.location}
          addressTitle={property.title}
          priceText={`$${property.price.toLocaleString()}`}
        />
      ))
    }
  </section>
</div>
