---
import { DevLinkProvider } from "../../devlink/DevLinkProvider.jsx";
import "../../devlink/global.css";
import "../styles/global.css";
import { Navbar } from "../../devlink/Navbar.jsx";
import { Footer } from "../../devlink/Footer.jsx";

const assetsPrefix =
  import.meta.env.ASSETS_PREFIX || import.meta.env.BASE_URL || "";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link
      rel="icon"
      type="image/svg+xml"
      href={`${assetsPrefix}/favicon.svg`}
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap"
      rel="stylesheet"
    />
    <meta name="generator" content={Astro.generator} />
    <title>Dynamisch woningoverzicht</title>
  </head>
  
  <body class="m-0 h-full w-full">
    <DevLinkProvider client:load>
      <Navbar />

      <slot />

      <Footer />
    </DevLinkProvider>
  </body>
</html>
